# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.env.local
.venv/
venv/
ENV/
backend-django/db.sqlite3

# OS
.DS_Store
Thumbs.db

# Ignore the updated version subfolder
News_Aggregator1/
